<html lang="en">
    <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Grandstander&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Sora&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="styles.css">
    
    </head>
    
    <body>
      <div class=cart_page>
        <div class=the_whole_bar>
          <div  class="logo"></div>
          <span  class="_table_id_">_table_id_</span>
          <div  class="navi1"></div>
          <span  class="log_out">Log out</span>
          <div class="navigationBar">
            <button class="AboutBar" onclick="window.location.href='aboutUs.html'">About</button>  
            <button class="MenuBar" onclick="window.location.href='menu.html'">Menu</button> 
            <button class="CartBar" onclick="window.location.href='cart.html'">Cart</button> 
            <button class="HomeBar" onclick="window.location.href='homepage.html'">Home</button> 
            <button class="OrderBar" onclick="window.location.href='order.html'">Order</button> 
          </div>
          </div>
        </div>
        
        <div class>
          <span  class="order_page_ordercart">Order cart</span>
          <div class=order_page_dish1>
            <div class=order_page_dish1_img>
              <div  class="order_page_dish1_img_dish"></div>
              <div  class="order_page_dish1_img_dishdetail">
              </div>
            </div>
            <div class=order_page_dish11>
              <div  class="order_page_dish12">

              </div>
            </div>
            <span  class="order_page_dish1_name">Tempura</span>
            <span  class="order_page_dish1_descrip">salt, sugar</span>
            <span  class="order_page_dish1_price">100.000 VND</span>
            <div class=order_page_dish1_editquan>
              <span  class="order_page_dish1_quan">2</span>
              <button  class="order_page_dish1_subtract"></button>
              <button  class="order_page_dish1_add"></button>
            </div>
            <button  class="order_page_dish1_remove"></button>
              <span  class="order_page_totalcost">Total cost</span>
              <span  class="order_page_dish1_total_price">300.000 VND</span>
            <button onclick="window.location.href='order.html'" class=order_page_order_button>
              <div  class="order_page_order_button1"></div>
              <span  class="order_page_order">Order</span>
            </button>
            <button onclick="window.location.href='menu.html'" class=order_page_addnewdish_button>
              <div  class="order_page_addnewdish_button1"></div>
              <span  class="order_page_addnewdish">Add new dish</span>
            </button>
            <div  class="order_page_bound"></div>
          </div>
          </div>
      </div>
    </body>
  </html>
