<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Complatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<title>contact</title>
  	<link rel="stylesheet" type="text/css" href="css/normalize.css">
  	<link rel="stylesheet" type="text/css" href="css/contact_styles.css">
  	<!--[if lt IE 9]>
  	<script src="dist/html5shiv.js"></script>
  	<! [endif]-->
</head>

<body>
  <nav div class="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="About.html">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="Faq.html">Faq</a></li>
     </ul> 
  </nav>
  <div class="container">
    <div class="contact text">
      <h1>Lets work together!</h1>
    </div><!--contact-text-->  
  </div><!--container-->
  <div class="container">
    <div class="intro text">
      <h2>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h3>
     </div><!--intro text--> 
  </div><!--container-->    
  <div class="container">
    <div class="number text">
      <h1>Contact me at</h1>
        <p>proporro_234@poor.com</p>
        <p>or find me on</p>
        <p>FaceBook</p>
        
    </div><!--number text-->  
  </div><!--container-->  
  <div class="container">
    <div class="ending text">
      <h1>Sit amet velit</h1>  
    <h2>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h2>
    </div><!--ending text-->
  </div><!--containter-->  
</body>