<html lang="en">
          <head>
            <meta charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Fjord&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
          </head>
          
          <body>
            <div class=payment_page>
              <div  class="payment_page1"></div>
              <button  class="payment_page_checkout" onclick="window.location.href='homepage.html'">CHECK OUT</button>
              <div  class="payment_page_1"></div>
              <div  class="payment_page_2"></div>
              <div  class="payment_page_3"></div>
              <span  class="payment_page_cash">Cash</span>
              <span  class="payment_page_momo">MoMo</span>
              <span  class="payment_page_card">Card</span>
              <div  class="payment_page_4"></div>
              <div  class="payment_page_5"> </div>
              <span  class="payment_page_membership">Membership</span>
              <span  class="payment_page_total">  Order Total:</span>
              <span  class="first_total">500.000 VND</span>
              <span  class="discount">-50.000 VND</span>
              <span  class="final_total">450.000 VND</span>
              <span  class="payment_page_discount">  Discount:</span>
              <span  class="payment_page_add_coupon">Add Coupon:</span>
              <span  class="payment_page_total_payment">  Total Payment:</span>
              <span  class="payment_page_payment_method">Payment Methods:</span>
              <div class=the_whole_bar>
                <div  class="logo"></div>
                <span  class="_table_id_">_table_id_</span>
                <div  class="navi1"></div>
                <span  class="log_out">Log out</span>
                <div class="navigationBar">
                  <button class="AboutBar" onclick="window.location.href='aboutUs.html'">About</button>  
                  <button class="MenuBar" onclick="window.location.href='menu.html'">Menu</button> 
                  <button class="CartBar" onclick="window.location.href='cart.html'">Cart</button> 
                  <button class="HomeBar" onclick="window.location.href='homepage.html'">Home</button> 
                  <button class="OrderBar" onclick="window.location.href='order.html'">Order</button> 
                </div>
                </div>
              </div>
              <span  class="payment_page_bill_detail">Bill details</span>
              <div class=payment_page_bill_detail1>
                <span  class="payment_page_order1">Order 1</span>
                <span  class="payment_page_order1_no2">2</span>
                <span  class="payment_page_order1_no1">1</span>
                <span  class="payment_page_order1_quan2">2</span>
                <span  class="payment_page_order1_quan1">1</span>
                <span  class="payment_page_order1_dish2">Miso soup</span>
                <span  class="payment_page_order1_dish1">Sashimi </span>
                <span  class="payment_page_order1_price2">200.000 VND</span>
                <span  class="payment_page_order1_price1">400.000 VND</span>
              </div>
            </div>
          </body>
          </html>
